.btn-blocks {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #555;
    background-color: #eee;
    font-size: 16px;
    cursor: pointer;
  }
}

#postsDisplay{
  display: flex;
  flex-wrap: wrap;

  .post{
    flex: 1 250px;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 12px;
    margin: 10px;

    .title{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .description{
      font-size: 13px;
      margin-bottom: 10px;
    }
    .actions{
      .deletePost{
        padding: 4px;
        border: 1px solid #555;
        background-color: #eee;
        font-size: 12px;
        cursor: pointer;
      }

      .loader{
        height: 20px;
        width: 20px;
      }
    }
  }

}